html,
body {
    background: #f4f5f6;
}

.container-fluid {
    max-width: 1300px;
    margin: 0 auto;
    background: #fff;
}

.top-header {
    height: 100px;
    background: #f72210;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.date {
    margin-left: 30px;
    margin-bottom: -40px;
    color: #fff;
}

.newsweek {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    color: #fff;
}

.sign-sub {
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    margin-right: 40px;
    margin-bottom: -50px;
}

.subscribe {
    margin-left: 20px;
    background: #fff;
    color: #f72210;
    padding: 0 12px;
}

.icon {
    margin-left: 10px;
}

.title {
    font: bold 16px/16px 'Roboto Condensed', sans-serif;
    color: #aaa;
    padding-top: 15px;
    padding-bottom: 11px;
    text-transform: uppercase;
}

.images {
    position: relative;
}

.img {
    width: 100%;
    height: 270px;
    position: relative;
    cursor: pointer;
}

.tag {
    background: rgba(255, 255, 255, 0.9);
    padding: 6px 17px 7px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.tag a {
    text-decoration: none;
    font: bold 17px/16px 'Roboto Condensed', sans-serif;
    color: #f72210;
}

.link-next {
    font: bold 22px/25px 'Roboto Condensed', sans-serif;
    margin-top: 10px;
}

.link-next a {
    text-decoration: none;
    color: #000;
}

.link-next a:hover {
    text-decoration: underline #f72210;
}

.top-story p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.underline h4 {
    font: bold 16px 'Roboto Condensed', sans-serif;
    color: #9b9797;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}

.img-more {
    width: 250px;
    height: 170px;
}

.beside-link a {
    font: bold 17px/20px 'Roboto Condensed', sans-serif;
    color: #000;
    text-decoration: none;
}

.beside-link a:hover {
    text-decoration: underline #f72210;
}

@media only screen and (max-width: 576px) {
    .top-header {
        height: 50px;
    }
    .date {
        display: none;
    }
    .newsweek {
        font-size: 25px;
        margin-left: 15px;
    }
    .sign-sub {
        margin-bottom: -5px;
    }
}