html,
body {
    background: #f4f5f6;
    overflow-x: hidden;
}

.top-header {
    background: #f72210;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-link a {
    text-decoration: none;
    font: bold 20px/28px 'Roboto Condensed', sans-serif;
}

.nav-link {
    border-bottom: 1px solid #f4f5f6;
    padding-bottom: 10px;
    background: #fff;
}

#us-first {
    text-transform: uppercase;
    color: #000;
}

#us-first:hover {
    color: #f72210;
}

.group {
    text-transform: capitalize;
    color: #000;
    border-left: 1px solid #bdb9b9;
    padding-left: 30px;
}

.nav-link a:hover {
    color: #f72210;
}

.bg-content {
    background: #fff;
}

.content {
    margin-left: 30px;
    margin-right: 30px;
}

.date {
    margin-left: 30px;
    margin-bottom: -40px;
    color: #fff;
}

.big-title {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    color: #fff;
    cursor: pointer;
}

.sign-sub {
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
    margin-top: 40px;
}

.sign-in {
    cursor: pointer;
    margin-right: -10px;
}

.subscribe {
    margin-left: 20px;
    background: #fff;
    color: #f72210;
    padding: 2px 27px 2px 9px;
    cursor: pointer;
    position: relative;
}

.subscribe::after {
    content: '';
    position: absolute;
    display: inline-block;
    border-right: 2px solid #f72210;
    border-bottom: 2px solid #f72210;
    width: 9px;
    height: 9px;
    transform: rotate(-45deg);
    margin-top: 7px;
    margin-left: 7px;
}

.bars a {
    font-size: 30px;
    color: #eea89f;
    margin-left: 30px;
}

.icon {
    margin-left: 10px;
}

.title {
    font: bold 16px/16px 'Roboto Condensed', sans-serif;
    color: #aaa;
    padding-top: 20px;
    padding-bottom: 11px;
    text-transform: uppercase;
}

.images {
    position: relative;
}

.img {
    width: 100%;
    position: relative;
    cursor: pointer;
}

.insight {
    margin: auto;
}

.tag {
    background: rgba(255, 255, 255, 0.9);
    padding: 6px 17px 7px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.tag a {
    text-decoration: none;
    font: bold 17px/16px 'Roboto Condensed', sans-serif;
    color: #f72210;
}

.link-next {
    font: bold 22px/20px 'Roboto Condensed', sans-serif;
    margin-top: 10px;
}

.link-next a {
    font: bold 20px/24px 'Roboto Condensed', sans-serif;
    text-decoration: none;
    color: #000;
}

.link-next a:hover {
    text-decoration: underline #f72210;
}

.top-story p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.underline h4 {
    font: bold 16px 'Roboto Condensed', sans-serif;
    color: #9b9797;
    margin-bottom: -3px;
}

.side-by-side {
    display: flex;
    border-top: 1px solid #aaa;
    padding-top: 15px;
    padding-bottom: 15px;
}

.more-stories {
    margin-left: 17px;
}

.more-stories p {
    font: 15px Arial, Helvetica, sans-serif;
}

.img-more {
    width: 135px;
    height: 90px;
}

.beside-link {
    line-height: 20px;
}

.beside-link a {
    font: bold 17px 'Roboto Condensed', sans-serif;
    color: #000;
    text-decoration: none;
}

.beside-link a:hover {
    text-decoration: underline #f72210;
}

.inside-container {
    background: #f4f5f6;
    padding-bottom: 10px;
}

.title-in {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #585656;
    padding: 10px 10px;
}

.similar {
    margin-left: 10px;
}

.story-link {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.story-link a {
    color: #272727;
    text-decoration: none;
}

.text-btw {
    font-size: 15px;
    color: #9b9797;
}

.tags {
    margin-top: 10px;
    margin-bottom: 20px;
}

.tags a {
    font: 300 13px/20px "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: #272727;
    text-decoration: none;
    background: #c2d4d7;
    padding: 4px 6px;
}

.tags a:hover {
    background: #000;
    color: #f4f5f6;
}

.related {
    border-top: 1px solid #c2d4d7;
    padding-top: 10px;
}

.related a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.related a:hover {
    color: #f72210;
}

.border-line {
    border-right: 1px solid #bdb9b9;
    border-bottom: 1px solid #bdb9b9;
    border-left: 1px solid #bdb9b9;
    padding: 5px 17px 5px 17px;
}

.border-line p {
    font: 13px/22px Arial, Helvetica, sans-serif;
}

.diff a {
    color: #3581f4;
}

.unique {
    margin-bottom: 30px;
}

.wrapper {
    display: flex;
    border-bottom: 1px solid #c2d4d7;
    padding-top: 10px;
    padding-bottom: 10px;
}

#part-none {
    border-bottom: none;
}

#go-up {
    margin-top: -25px;
}

.opinion {
    margin-left: 15px;
    line-height: 16px;
}

.opinion-link {
    line-height: 18px;
}

.opinion-link a {
    font: bold 16px 'Roboto Condensed', sans-serif;
    color: #000;
    text-decoration: none;
}

.opinion-link a:hover {
    color: #f72210;
}

.signup-newsletter {
    display: block;
    margin: 20px auto;
    width: 300px;
    border: 1px solid #e2dddd;
    background: #f4f5f6;
    padding: 15px 20px;
}

.f-inside {
    display: flex;
}

.n-special {
    align-self: center;
    font: bold 24px/22px 'Roboto Condensed', sans-serif;
    background: #f72210;
    color: #fff;
    padding: 4px 9px;
    position: relative;
}

.our-newsletter {
    font: bold 19px/19px 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    margin-left: 10px;
    line-height: 20px;
}

.next {
    font: bold 18px 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    background: #272727;
    width: 110px;
    padding: 10px 15px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preference {
    font: bold 15px 'Roboto Condensed', sans-serif;
    color: #333;
}

.double-arrow {
    width: 7px;
}

.november {
    text-transform: uppercase;
}

.features {
    text-transform: uppercase;
    text-align: center;
    background: #eeeff0;
    padding-top: 8px;
    padding-bottom: 4px;
    cursor: pointer;
}

.features a {
    font: bold 18px 'Roboto Condensed', sans-serif;
    color: #000;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

.features:hover {
    background: #ccc;
}

.see-all {
    margin-right: 8px;
}

.space {
    margin-bottom: 27px;
}

.the-maga {
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maga-n {
    margin-right: 10px;
    font: bold 24px/22px 'Roboto Condensed', sans-serif;
    background: #f72210;
    color: #fff;
}

.magazine {
    text-transform: uppercase;
    font: bold 18px 'Roboto Condensed', sans-serif;
}

.cover-usa {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.cover {
    margin-right: 10px;
    background: #f72210;
    font: bold 16px 'Roboto Condensed', sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding: 2px 8px;
}

.usa {
    font: bold 16px 'Roboto Condensed', sans-serif;
    color: #f72210;
    text-transform: uppercase;
}

.link-under {
    line-height: 7px;
    margin-top: 8px;
}

.link-under a {
    text-decoration: none;
    color: #000;
    font: bold 17px 'Roboto Condensed', sans-serif;
}

.link-under a:hover {
    text-decoration: underline #f72210;
}

.rule-line {
    border-bottom: 1px solid #bdb9b9;
    padding-bottom: 13px;
}

.border-special::after {
    border-bottom: 3px solid #f72210;
    border-right: 3px solid #f72210;
    display: block;
    content: '';
    width: 32px;
    height: 31px;
    position: absolute;
    bottom: -4px;
    right: -4px;
}

.border-tag {
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 17px 7px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.border-tag a {
    color: #f72210;
    text-decoration: none;
    border-top: 1px solid #f72210;
    border-right: 1px solid #f72210;
    border-bottom: 1px solid #f72210;
    border-left: 1.5px solid #f72210;
    padding: 5px 10px;
    position: relative;
}

.border-tag a::after {
    border-top: 1px solid #f72210;
    border-left: 1.5px solid #f72210;
    display: block;
    content: '';
    width: 40px;
    height: 29px;
    position: absolute;
    top: -4px;
    left: -6px;
}

.red-title {
    border-top: 1px solid #e2dddd;
    padding-top: 25px;
}

.red-title a {
    text-decoration: none;
    color: #f72210;
    font: bold 22px "Roboto Condensed", sans-serif;
}

.d-line {
    margin-bottom: 20px;
}

.img-inside {
    display: flex;
}

.hv-red {
    line-height: 20px;
    margin-left: 17px;
}

.hv-red a {
    font: bold 17px 'Roboto Condensed', sans-serif;
    color: #000;
    text-decoration: none;
}

.hv-red a:hover {
    color: #f72210;
}

.first-child {
    padding-top: 15px;
}

.last-child {
    padding-bottom: 40px;
    border-bottom: none;
}

.title-diff {
    text-transform: capitalize;
}

.block-title {
    font: bold 16px "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    color: #f72210;
    margin-top: 20px;
    margin-bottom: 10px;
}

.subscribe-block {
    background: #f4f5f6;
    position: relative;
    height: 300px;
    margin-bottom: 20px;
}

.block-images-left {
    position: absolute;
    top: 30px;
    left: 30px;
}

.block-images-right {
    position: absolute;
    top: 43px;
    left: 100px;
}

.block-text {
    position: absolute;
    top: 70px;
    left: 310px;
}

.block-text h3 {
    width: 90%;
    font: bold 24px/28px 'Roboto Condensed', sans-serif;
    color: #000;
}

.block-text p {
    font: 300 16px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn {
    width: 150px;
    font: bold 18px 'Roboto Condensed', sans-serif;
    color: #fff;
    background: #f72210;
    text-transform: uppercase;
}

.btn:hover {
    color: #fff;
    background: #f72210;
}

.brf-img {
    width: 190px;
    height: 300px;
    object-fit: cover;
}

.brf-block {
    height: 300px;
}

.daily-brf {
    height: 300px;
    margin-bottom: 20px;
    border: 1px solid #c2d4d7;
    padding: 25px;
}

.daily-brf h3 {
    font: bold 20px/24px 'Roboto Condensed', sans-serif;
    color: #000;
    margin-top: 30px;
}

.daily-brf p {
    font: 300 16px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-sign-up {
    width: 110px;
    font: bold 18px 'Roboto Condensed', sans-serif;
    color: #fff;
    background: #f72210;
    text-transform: uppercase;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

.footer-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.footer-top {
    border-bottom: 1px solid #c2d4d7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-title {
    display: flex;
    flex-direction: row;
}

.footer-title h3 {
    font: bold 50px/24px 'Roboto Slab', sans-serif;
    color: #f72210;
}

.c-right {
    margin-left: 10px;
    margin-top: 17px;
    color: #53534b;
}

.social-wrap {
    padding: 0;
    list-style: none;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.s-link a {
    font-size: 25px;
    color: #585656;
}

.s-link a:hover {
    color: #6060f5;
}

.t-color a:hover {
    color: #6699FF;
}

.footer-bootom {
    display: flex;
    flex-direction: column;
}

.link-wrap-first {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 18px;
    padding: 0;
}

.link-left {
    position: relative;
    padding-top: 10px;
}

.link-right {
    display: flex;
    padding-top: 10px;
}

.link-wrap-last {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
}

.b-link {
    line-height: 30px;
    padding-right: 10px;
}

.b-link a {
    font: 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #53534b;
    border-right: 1px solid #c2d4d7;
    padding-left: 0px;
    padding-right: 10px;
}

@media screen and (max-width: 576px) {
    body {
        background: #fff;
    }
    .content {
        margin-left: 0;
        margin-right: 0;
    }
    .the-maga {
        padding-top: 20px;
    }
    .nav-link {
        display: none;
    }
    .footer-title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .top-header {
        height: 50px;
    }
    .date {
        display: none;
    }
    .big-title {
        font-size: 23px;
        margin-left: 10px;
    }
    .more-stories p {
        font-size: 13px
    }
    .link-under a {
        font-size: 17px;
    }
    .subscribe-block {
        height: 470px;
    }
    .block-images-left {
        top: 30px;
        left: 90px;
    }
    .block-images-right {
        top: 43px;
        left: 180px;
    }
    .block-text {
        width: 100%;
        top: 280px;
        left: 20px;
        text-align: center;
    }
    .block-text h3 {
        font-size: 20px;
    }
    .block-text p {
        font-size: 14px;
    }
    .btn {
        position: absolute;
        top: 135px;
        left: 120px;
    }
    .brf-block {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        ;
    }
    .brf-img {
        width: 100%;
        height: 50%;
    }
    .daily-brf {
        height: 190px;
        margin-top: -150px;
        text-align: center;
    }
    .daily-brf h3 {
        margin-top: 0px;
    }
    .daily-brf p {
        font: 14px;
    }
    .btn-sign-up {
        margin-left: 140px;
    }
    .footer-top {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .footer-title {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .footer-title h3 {
        font-size: 30px;
    }
    .c-right {
        margin-left: 0;
        margin-top: 0;
    }
    .b-link a {
        border-right: none;
    }
    .link-right {
        padding-top: -10px;
    }
    .img-more {
        width: 258px;
        height: 172px;
    }
    .block-top {
        margin-top: 20px;
    }
}

@media screen and (max-width: 992px) {
    .top-header {
        height: 50px;
    }
    .date {
        display: none;
    }
    .nav-link {
        display: none;
    }
    .big-title {
        font-size: 25px;
        margin-left: 15px;
    }
    .sign-sub {
        margin-bottom: 35px;
        margin-right: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .bars a {
        display: none;
    }
    .insight {
        margin: 0;
    }
}